[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cu121"
verify_ssl = false
name = "pytorch"

[packages]
pandas = "*"
bs4 = "*"
requests = "*"
python-dotenv = "*"
validators = "*"
jupyter = "*"
lxml = "*"
tqdm = "*"
opencv-python = "*"
pillow = "*"
diffusers = "*"
torch = {version="*", index="pytorch"}
transformers = "*"
exceptiongroup = "*"
accelerate = "*"

[dev-packages]

[requires]
python_version = "3.11"
